#audioplayer {
    width: 480px;
    height: 60px;
    margin: 50px auto auto auto;
    border: 1px solid red;
}

#pButton {
    height: 60px;
    width: 60px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    position:relative;
    top:-30px;
}

.play {
    background: url(/images/music/play2.png);
}

.pause {
    background: url(/images/music/pause.png);
}

#timeline {
    width: 400px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(0, 0, 0, .3);
    display: none;
}

#playhead {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0, 1);
    display: none;
}